<br>
<a class="btn btn-primary" href="/admin/showtime/create" role="button">Crear</a>
<a class="btn btn-primary" href="/admin" role="button">Atrás</a>

<br>
<br>
@if (showtimeResponse|async; as showtimes) {
<div class="row">
    @for (item of showtimes.showTimes; track item.id) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    ID de la tanda: {{item.id}}
                </h5>
                <h6>Costo: {{item.cost}}</h6>
                <h6>Costo en Puntos: {{item.costPoints}}</h6>
                <h6>ID de la sala: {{item.hallsId}}</h6>
                <h6>ID de la película: {{item.movieId}}</h6>
                <h6>ID del horario: {{item.schedulesId}}</h6>
                <a class="btn btn-primary" role="button" [routerLink]="['/admin/showtime/update',item.id]">Actualizar</a>
                <a class="btn btn-primary" role="button" (click)="delete(item.id)">Eliminar</a>                
            </div>
        </div>
    }
</div>
}