<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">
            Creación de un nuevo Admin
        </h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="send.User"
                name="something1">
            <label for="floatingInput">Nombre de Admin</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="send.Password"
                name="something2">
            <label for="floatingInput">Password</label>
        </div>

        <br>
        <button class="btn btn-primary w-50" type="button" (click)="create()">Crear</button>
        <button class="btn btn-primary w-50" type="button" (click)="cancel()">Cancel</button>
    </form>
</main>