
<main class="form-signin w-100 m-auto">
    <form>
      <h1 class="h3 mb-3 fw-normal">Actualizar un Partner</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">Apellido</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">CI</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="">
        <label for="floatingInput">Número de teléfono</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="">
        <label for="floatingPassword">Password</label>
      </div>
      <br>
      <button class="btn btn-primary w-50" type="submit" (click)="update()">Actualizar</button>
      <button class="btn btn-primary w-50" type="submit" (click)="cancel()">Cancel</button>
    </form>
  </main>