<br>
<a class="btn btn-primary" href="/admin/country/create" role="button">CREATE</a>
<a class="btn btn-primary" href="/admin" role="button">ATRAS</a>

<br>
<br>
@if (countryResponse|async; as countries) {
<div class="row">
    @for (item of countries.countries; track item.id) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ID del País: {{item.id}}</h5>
                <h6>Nombre del País: {{item.name}}</h6>
            </div>
        </div>
    }
</div>
}
