<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <app-gallery></app-gallery>
        </div>
        <div class="card">
            <h2>{{description_title}}</h2>
            <!--<h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>-->
            <p>{{description}}</p>
        </div>
    </div>
    <div class="rightcolumn">
        <!--<div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>-->
        <div class="card">
            <h3>Más Populares</h3>
            <app-homecards></app-homecards>
        </div>
        <!--
            <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
        </div>
        -->
    </div>
</div>