<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="/admin/partners" role="button">Socios</a>
    <a class="btn btn-primary" href="/admin/admin" role="button">Administradores</a>
    <a class="btn btn-primary" href="/admin/halls" role="button">Salas</a>
    <a class="btn btn-primary" href="/admin/movies" role="button">Películas</a>
    <a class="btn btn-primary" href="/admin/schedule" role="button">Horarios</a>
    <a class="btn btn-primary" href="/admin/showtime" role="button">Tandas</a>
    <a class="btn btn-primary" href="/admin/tickets" role="button">Tickets</a>
</div>

<br>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="/admin/actors" role="button">Actores</a>
    <a class="btn btn-primary" href="/admin/chairs" role="button">Sillas</a>
    <a class="btn btn-primary" href="/admin/country" role="button">Países</a> 
    <a class="btn btn-primary" href="/admin/discounts" role="button">Descuentos</a>
    <a class="btn btn-primary" href="/admin/genres" role="button">Géneros</a> 
</div>

<br>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" role="button" (click)="desconnect()">Desconectar</a> 
</div>

<!-- 
    <a class="btn btn-primary" href="/admin/" role="button"></a> 
    
    <a class="btn btn-primary" href="/admin/monetary" role="button">MONETARY PURCHASE</a>
    <a class="btn btn-primary" href="/admin/points" role="button">POINTS PURCHASE</a>
-->
