<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="/admin/partners" role="button">PARTNERS</a>
    <a class="btn btn-primary" href="/admin/admin" role="button">ADMIN</a>
    <a class="btn btn-primary" href="/admin/halls" role="button">HALLS</a>
    <a class="btn btn-primary" href="/admin/movies" role="button">MOVIES</a>
    <a class="btn btn-primary" href="/admin/schedule" role="button">SCHEDULE</a>
</div>

<br>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" href="/admin/actors" role="button">ACTORS</a>
    <a class="btn btn-primary" href="/admin/chairs" role="button">CHAIRS</a>
    <a class="btn btn-primary" href="/admin/country" role="button">COUNTRIES</a> 
    <a class="btn btn-primary" href="/admin/discounts" role="button">DISCOUNTS</a>
    <a class="btn btn-primary" href="/admin/genres" role="button">GENRES</a> 
</div>

<br>
<br>
<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" role="button" (click)="desconnect()">DESCONNECT</a> 
</div>

<!-- 
    <a class="btn btn-primary" href="/admin/" role="button"></a> 
-->
