<br>
<a class="btn btn-primary" href="/admin/tickets/create" role="button">Crear</a>
<a class="btn btn-primary" href="/admin" role="button">Atrás</a>

<br>
<br>
@if (ticketsResponse|async; as tickets) {
<div class="row">
    @for (item of tickets.tickets; track item.id) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    ID del ticket: {{item.id}}
                </h5>
                <h6>ID de la silla: {{item.chairsId}}</h6>
                <h6>Web: {{(item.isWeb)? "Sí": "No"}}</h6>
                <h6>ID de la tanda: {{item.showTimesId}}</h6>
                <a class="btn btn-primary" role="button" [routerLink]="['/admin/tickets/update',item.id]">Actualizar</a>
                <a class="btn btn-primary" role="button" (click)="delete(item.id)">Eliminar</a>                
            </div>
        </div>
    }
</div>
}