<br>
<a class="btn btn-primary" href="/admin" role="button">ATRAS</a>

<br>
<br>
@if (chairsResponse|async; as chairs) {
    <div class="row">
        @for (item of chairs.chairs; track item.id) {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ID del Chair: {{item.id}}</h5>
                    <h6>Fila: {{item.row}}</h6>
                    <h6>Columna: {{item.column}}</h6>
                    <h6>ID del Hall: {{item.hallId}}</h6>
                </div>
            </div>
        }
    </div>
}