
<div class="container mt-3">
    <div class="card" style="width:100%">
        <img class="card-img-top" src="../assets/images/T1.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">1</h4>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>
   
    <div class="card" style="width:100%">
        <img class="card-img-top" src="../assets/images/T2.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">2</h4>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="../assets/images/T3.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">3</h4>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

    <div class="card" style="width:100%">
        <img class="card-img-top" src="../assets/images/T4.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">4</h4>
            <a href="#" class="btn btn-primary">Buy</a>
        </div>
    </div>

</div>

<!--
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}-->
