
<main class="form-signin w-100 m-auto">
    <form>
      <h1 class="h3 mb-3 fw-normal">Log in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="send.email" name="something1">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" placeholder="" [(ngModel)]="send.password" name="something6">
        <label for="floatingPassword">Password</label>
      </div>
      <br>
      <button class="btn btn-primary w-50" type="button" (click)="login()">Aceptar</button>
      <button class="btn btn-primary w-50" type="button" (click)="cancel()">Cancelar</button>
    </form>
  </main>