<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">
            Creación de un ticket
        </h1>

        <div class="form-floating">
            <input type="number" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="send.ChairsId"
                name="something1">
            <label for="floatingInput">ID de la silla</label>
        </div>

        <div class="form-floating">
            <input type="number" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="send.ShowTimesId"
                name="something2">
            <label for="floatingInput">ID de la tanda</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="" [(ngModel)]="discountsIdText"
                name="something3">
            <label for="floatingInput">ID del descuento</label>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="send.IsWeb" name="somethingBool">
            <label class="form-check-label" for="flexSwitchCheckDefault">¿Es web?</label>
        </div>

        <br>
        <button class="btn btn-primary w-50" type="button" (click)="create()">Crear</button>
        <button class="btn btn-primary w-50" type="button" (click)="cancel()">Cancelar</button>
    </form>
</main>