<br>
<a class="btn btn-primary" href="/admin" role="button">ATRAS</a>

<br>
<br>
@if (discountsResponse|async; as discounts) {
    <div class="row">
        @for (item of discounts.discounts; track item.id) {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ID del Descuento: {{item.id}}</h5>
                    <h6>Nombre del Descuento: {{item.name}}</h6>
                    <h6>Valor del Descuento: {{item.value}}</h6>
                </div>
            </div>
        }
    </div>
}